.appShell {
    /* min-height: 100vh; */

}

.header {}

.navbar {
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 10px 18px; */
}

.main {}

.footer {
    background: #fff;
    border-top: 1px solid #e5e7eb;
    padding: 12px 18px;
    color: #6b7280;
    font-size: 14px;
    text-align: center;
}