.appShell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */

}

.header {}

.navbar {}

.main {
    flex: 1;
    padding-top: 75px;
    /* stessa altezza navbar */
}

.footer {
    background: #fff;
    border-top: 1px solid #e5e7eb;
    padding: 12px 18px;
    color: #6b7280;
    font-size: 14px;
    text-align: center;
}